@mixin text-color-based-on-background($background-color) {
    $threshold: 50%; 

    @if(lightness($background-color) > $threshold) {
        color: $color1;
    } @else {
        color: $white;
    }
    
    background-color: $background-color;
}