body {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

}

.gestao {
  &-header {
    padding:1rem 7rem;
    background-color: $color1;
    color: $white !important;

    h1{
        color: inherit;
        font-size: 1rem;
    }
  }
  &-dashboard {
    height: 100%;
    display: flex;
    width: 100%;

    .dashboard {
        &-aside {
          padding:0 1rem 0 1rem;
          background-color: $color2;
          border:2px solid $color4;
          border-left: 18px !important;
          border-bottom: 18px !important;
          border-top: 18px !important;
          position: absolute;
          height: 100%;
          z-index: 999;
          top:0;

          display: flex;

          align-items: center;


          nav {
            ul {
              display: flex;
              flex-direction: column;
              gap: 1.5rem;
              list-style: none;
      
              li {
                cursor: pointer;
      
                &:hover,
                &.active {
                  i {
                    background-color: $color4;
                    border-radius: 8px;
                    transition: 0.5s ease;
                  }
                }
      
                i {
                  font-size: 1.5rem;
                  color: inherit;
                  color: $white;
                  font-weight: 100;
                  padding: 0.5rem;
                }
              }
            }
          }
        }

        &-content{
            height: inherit;
            width: 100%;
            max-height: 95%;
            padding: 1rem 2rem 0rem 7rem;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(3, 1fr);
            // grid-template-areas: 
            // "a b c d"
            // "e e h h"
            // "f g h h";
            grid-template-areas: 
            "a b c d"
            "e e h h"
            "e e h h";
            gap: 1rem;


          .card{
            padding: 1rem;
            width: 100%;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .total-balance_value{
                font-size: 1.5rem;
            }

            &.a{
                grid-area: a;

                
              }
            &.b{
                grid-area: b;
            }
            &.c{
                grid-area: c;
            }
            &.d{
                grid-area: d;
            }
            &.e{
                grid-area: e;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &.f{
                grid-area: f;
               
            }

            &.g{
                grid-area: g;
               
            }

            &.h{
                grid-area: h;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                header{
                    display: flex;
                    justify-content: space-between;
                }

                h4{
                    padding-bottom: 1rem;
                    font-size: 0.9rem;
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;

                    li{
                        display: flex;
                        justify-content: space-between;

                        div{
                            display: flex;
                            gap: 0.6rem;
                            align-items: center;
                            justify-content: space-between;
                        }

                        i{
                            font-size: 1.2rem;
                            background-color: #29234c2f;
                            padding: 0.4rem;
                            border: 1px solid transparent;
                            border-radius: 100%;
                        }

                        span{
                            font-size: 0.9rem;
                        }
                    }
                }

                .totaldegastos{
                    padding: 0.5rem 0 0 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid #29234c30;

                    h4{
                        padding: 0;
                    }
                }
            }
          }
          
        }
      }
  }
}


